<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.videos.dev.pojo.mapper.CommentsMapper">
    <resultMap id="BaseResultMap" type="com.guo.videos.dev.pojo.Comments">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="father_comment_id" jdbcType="VARCHAR" property="fatherCommentId" />
        <result column="to_user_id" jdbcType="VARCHAR" property="toUserId" />
        <result column="video_id" jdbcType="VARCHAR" property="videoId" />
        <result column="from_user_id" jdbcType="VARCHAR" property="fromUserId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
    </resultMap>

    <insert id="insertOne" parameterType="com.guo.videos.dev.pojo.Comments">
        insert into comments(
            <trim suffixOverrides=",">
                  id,
                <if test="fatherCommentId !='' and fatherCommentId !=null">
                    father_comment_id,
                </if>
                <if test="toUserId !='' and toUserId !=null">
                    to_user_id,
                </if>
                <if test="videoId !='' and videoId !=null">
                    video_id,
                </if>
                <if test="fromUserId !='' and fromUserId !=null">
                    from_user_id,
                </if>
                <if test="createTime !=null">
                    create_time,
                </if>
                <if test="comment !='' and comment !=null">
                    comment,
                </if>
            </trim>
                ) values(
            <trim suffixOverrides=",">
                  #{id},
                <if test="fatherCommentId !='' and fatherCommentId !=null">
                  #{fatherCommentId},
                </if>
                <if test="toUserId !='' and toUserId !=null">
                  #{toUserId},
                </if>
                <if test="videoId !='' and videoId !=null">
                  #{videoId},
                </if>
                <if test="fromUserId !='' and fromUserId !=null">
                  #{fromUserId},
                </if>
                <if test="createTime !=null">
                  #{createTime},
                </if>
                <if test="comment !='' and comment !=null">
                  #{comment},
                </if>
            </trim>
                )
    </insert>

</mapper>