<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.videos.dev.pojo.mapper.UsersLikeVideosMapper">
    <resultMap id="BaseResultMap" type="com.guo.videos.dev.pojo.UsersLikeVideos">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="video_id" jdbcType="VARCHAR" property="videoId" />
    </resultMap>
    <select id="selectByEntity" parameterType="com.guo.videos.dev.pojo.UsersLikeVideos" resultMap="BaseResultMap">
        select * from users_like_videos where user_id = #{userId} and video_id=#{videoId}
    </select>

    <insert id="insertOne" parameterType="com.guo.videos.dev.pojo.UsersLikeVideos" >
        insert into users_like_videos values(#{id},#{userId},#{videoId})
    </insert>

    <delete id="deleteByEntity" parameterType="com.guo.videos.dev.pojo.UsersLikeVideos">
        delete from users_like_videos where user_id=#{userId} and video_id=#{videoId}
    </delete>
</mapper>