<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.videos.dev.pojo.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.guo.videos.dev.pojo.Users">
        <id column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="face_image" jdbcType="VARCHAR" property="faceImage" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="fans_counts" jdbcType="INTEGER" property="fansCounts" />
        <result column="follow_counts" jdbcType="INTEGER" property="followCounts" />
        <result column="receive_like_counts" jdbcType="INTEGER" property="receiveLikeCounts" />
    </resultMap>
    <select id="selectOne" parameterType="com.guo.videos.dev.pojo.Users" resultMap="BaseResultMap">
        select * from users where username = #{username,jdbcType=VARCHAR}
            <if test="password !='' and password !=null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
    </select>
    <insert id="insertOne" parameterType="com.guo.videos.dev.pojo.Users">
        insert into users(id,username,password,nickname,fans_counts,follow_counts,receive_like_counts)
        values (#{id},#{username},#{password},#{nickname},#{fansCounts},#{followCounts},#{receiveLikeCounts})
    </insert>
    <update id="updateBySelective" parameterType="com.guo.videos.dev.pojo.Users">
        update users
          <trim prefix="set" suffixOverrides=",">
            <if test="username !='' and username != null">
                username = #{username},
            </if>
            <if test="password !='' and password != null">
                password = #{password},
            </if>
            <if test="faceImage !='' and faceImage !=null">
                face_image = #{faceImage},
            </if>
            <if test="nickname !='' and nickname != null">
                nickname = #{nickname},
            </if>
            <if test="fansCounts !='' and fansCounts != null">
                fans_counts = #{fansCounts},
            </if>
            <if test="followCounts !='' and followCounts != null">
                follow_counts = #{followCounts},
            </if>
            <if test="receiveLikeCounts !='' and receiveLikeCounts != null">
                receive_like_counts = #{receiveLikeCounts}
            </if>
          </trim>
        where id=#{id}
    </update>
    <select id="selectOneById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from users where id=#{userId}
    </select>
    <update id="addFansCount" parameterType="java.lang.String">
        update users set fans_counts = fans_counts + 1 where id=#{userId}
    </update>
    <update id="addFollersCount" parameterType="java.lang.String">
        update users set follow_counts = follow_counts + 1 where id=#{userId}
    </update>
    <update id="reduceFansCount" parameterType="java.lang.String">
        update users set fans_counts = fans_counts - 1 where id=#{userId}
    </update>
    <update id="reduceFollersCount" parameterType="java.lang.String">
        update users set follow_counts = follow_counts - 1 where id=#{userId}
    </update>
</mapper>