<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.videos.dev.pojo.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.guo.videos.dev.pojo.Users">
        <id column="username" jdbcType="VARCHAR" property="username" />
        <id column="password" jdbcType="VARCHAR" property="password" />
        <id column="face_image" jdbcType="VARCHAR" property="faceImage" />
        <id column="nickname" jdbcType="VARCHAR" property="nickname" />
        <id column="fans_counts" jdbcType="INTEGER" property="fansCounts" />
        <id column="follow_counts" jdbcType="INTEGER" property="followCounts" />
        <id column="receive_like_counts" jdbcType="INTEGER" property="receiveLikeCounts" />
    </resultMap>
    <select id="selectOne" parameterType="com.guo.videos.dev.pojo.Users" resultMap="BaseResultMap">
        select * from users where username = #{username,jdbcType=VARCHAR}
            <if test="password !='' and password !=null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
    </select>
    <insert id="insertOne" parameterType="com.guo.videos.dev.pojo.Users">
        insert into users(id,username,password,nickname,fans_counts,follow_counts,receive_like_counts)
        values (#{id},#{username},#{password},#{nickname},#{fansCounts},#{followCounts},#{receiveLikeCounts})
    </insert>
</mapper>